@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

html, body{
    background-color: rgb(94, 88, 88);
}

h1{
    text-align: center;
    padding: 10px;
}

i#burguer{
    background-color: rgb(62, 59, 59);
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

i#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

    menu>ul{
        text-align: center;
        list-style: none;
    }
    
    menu>ul>li>a{
        display: block;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        background-color: rgb(72, 69, 69);
        color: white;
        border-top: 2px solid gray;

    }

    menu>ul>li>a:hover{
        background-color: rgb(102, 94, 94);
    }

    main{
        width: 90vw;
        background-color: white;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

h2{
    padding-bottom: 20px;
}

article>p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}